<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" />
  <package id="EnterpriseLibrary.WindowsAzure.TransientFaultHandling" version="5.1.1209.1" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.1.4000" />
  <package id="ilmerge" version="2.12.0803" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net40" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" />
  <package id="Unity.Interception" version="2.1.505.0" />
  <package id="WindowsAzure.ServiceBus" version="1.6.0.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="1.6" targetFramework="net40" />
</packages>