<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SqlServerServiceName" value="MSSQL$SQL2014" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <connectionStrings>
    <add name="PooledDatabase" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;Initial Catalog=NHibernateSqlAzureTests" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="NonPooledDatabase" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;Initial Catalog=NHibernateSqlAzureTests;Pooling=false" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
</configuration>